    <link rel='stylesheet' href='/stylesheets/shopStyles.css' />
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">  
  
       <div class="goToShoppingPageContainer">
<div class="accountImageContainer">

                <iframe src="https://giphy.com/embed/KAddpWyLQJ4LjRkNyl" width="100%" height="200px"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

</div>

        <div>Ohh! Looks like you are not logged in</div>
        <div class="goToShoppingPage"><a href="/">Go To Login Page</a></div>

        </div>